/Data_Collection/Media_Cloud/mediacloud_urls_text_dataset.zip
/Data_Collection/Media_Cloud/Urls/
/Data_Collection/Final_Processing/Datasets/
/Data_Collection/Scraping/Text/
/Data_Collection/Media_Cloud/Urls.zip
/Data_Collection/Scraping/Text.zip
/Data_Collection/Final_Processing/Datasets.zip
/Deconstruction_Phase/SRO_Instances/
/Deconstruction_Phase/SRO_Instances.zip
/Reconstruction_Phase/Vectorization/Embeddings/
/Reconstruction_Phase/Vectorization/Embeddings.zip
